
body {
  background: #222;
}

.board {
  border-radius: 10px;
  margin: 0 auto;
  padding: 30px;
  width: 420px;
}

.board svg {
  fill: #000;
  transition: all 2.3s cubic-bezier(.16,.88,.63,1.51);
  filter: drop-shadow(0 0 0 #000);
}

.game-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.complete .board svg {
  filter: drop-shadow(0 0 4px #cc0000);
}

.tile {
  display: inline-block;
  height: 72px;
  margin: 0 0 -6px 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  transition: 0.5s transform ease;
  width: 72px;
}

.level {
  font-family: 'Helvetica Nueue', Arial, sans-serif;
  font-size: 25px;
  font-weight: 200;
  text-align: center;
  user-select: none;
}